*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(backgroudimage.jpg);
    background-size: 100%;
}
.heading{
    color:#0d87ca;
    margin: 10px;
    text-align: center;
}
.box{
    border: solid 1px aqua;
    width: 400px;
    height: 100px;
    margin: 40px 0 0 0;
    color:#0d87ca;
    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.box input{
    width: 100px;
    height: 30px;
    border: solid 1px aqua;
    border-radius: 5px;
}
#ifwrong{
    display: none;
}
.correctbox{
    display: flex;
}
.correctbox h3{
    font-size: x-large;
    font-family: monospace;
}
.correctbox button{
    width: 70px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 0 0 30px;
    font-size: large;
    font-family: monospace;
    background-color: aqua;

}
span{
    margin: 20px;
}
#ifwrong button{
    width: 70px;
    height: 30px;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 0 0 30px;
    font-size: large;
    font-family: monospace;
    background-color: aqua;
}
.instruction
{
    color: blueviolet;
    font-family: monospace;
    font-size: x-large;
}
.instruction h3{
    color:#0d87c9;
    margin: 10px 0 0 10px;
}
.instruction h4{
    color: chartreuse;
    margin: 5px 0 0 30px;
}
.homebutton a{
    align-items: end;
    font-size: x-large;
    color: blue;
    text-decoration: none;
}
.homebutton{
    text-align: end;
    padding: 20px;
    margin: 0 20px 0 0;
}
.homebutton button{
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}
.start h3{
    color: chartreuse;
    font-size: xx-large;
    font-family: monospace;
    margin: 20px 0 0 100px;
}
#result{
    font-size: x-large;
    color: brown;
    font-family: monospace;
}