body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f2f2f2;
    background: url(tac.jpg);
}

#tic-tac-toe {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}
.homebutton{
    text-align: end;
    padding: 20px;
    margin: 400px 20px 0 ;
}
.homebutton button{
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}
.homebutton a{
    align-items: end;
    font-size: x-large;
    color: blue;
    text-decoration: none;
}
#result {
    font-size:xx-large;
    margin-top: 20px 0 0 10px;
    color:yellow;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}